* @xcp-ng/xapi-network
SOURCES/etc/xapi.d/plugins/lvm.py @xcp-ng/storage
SOURCES/etc/xapi.d/plugins/sdncontroller.py @xcp-ng/xapi-network
SOURCES/etc/xapi.d/plugins/updater.py @xcp-ng/os-platform-release
